ul {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  height: 40px;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff !important;
}
