/* .nav {
  display: absolute;
  position: fixed;
} */

ul {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  height: 40px;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.navbar a:hover {
  border-bottom: 2px solid #ddd;
  color: black;
}
.navbar a:active {
  border-bottom: 2px solid #ddd;
  color: black;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff !important;
  padding: 0 4px;
}
